<header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="#perfil">Perfil</a>
                    <a class="nav-link" href="#lenguajes">Lenguajes de programación</a>
                    <a class="nav-link" href="#trabajos">Trabajos</a>
                    <a class="nav-link" href="#contacto">Contacto</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="contenedor">
        <h2 class="titulo">Desarrollador<br>web</h2>
        <h2 class="subtitulo">Luis Tronilo Mordillo</h2>
        <h2 class="frase">"Para ser irremplazable, uno debe buscar siempre ser diferente"</h2>
        <a href="#conoceme" class="btn btn-outline-light btn_conoceme">Conóceme</a>
    </div>
</header>