<section class="animate__animated animate__pulse">
    <h2 class="titulo">Frameworks</h2>

    <div class="contenedor">

        <div class="row padre_angular padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 angular_image min-height animate__animated animate__fadeIn"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 angular_text min-height text text-iz height-auto">
                <h3 class="titulo">Angular</h3>
                <p class="descripcion">Experiencia en <strong>Angular</strong>. Directivas, Componentes, Rutas, Servicios, Pipes, <strong>modularización</strong> y <strong>encapsulado</strong> de la página web para una mayor escalabilidad.<br>Aplicaciones web de una sola página con una mayor compatibilidad entre navegadores.</p>
            </div>
        </div>

        <div class="row padre_ionic padres flex">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ionic_text min-height text text-der height-auto">
                <h3 class="titulo">Ionic</h3>
                <p class="descripcion">Experiencia en <strong>IONIC</strong>. De la mano de <strong>ANGULAR</strong>, también trabajando con Directivas, Componentes, Páginas, Rutas, Servicios, Pipes, etc...<br>Aplicaciones Híbridas con un solo código y sin dejar de lado el desarrollo web.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ionic_image min-height animate__animated animate__fadeIn"></div>
        </div>

        <div class="row padre_electron padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 electron_image min-height animate__animated animate__fadeIn"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 electron_text min-height text text-iz height-auto">
                <h3 class="titulo">Electron</h3>
                <p class="descripcion">Experiencia en <strong>Electron</strong>. Framework desarrollado por Github. ipRenderer, ipMain, módulos de nodeJs para la manipulación del sistema operativo.<br>Aplicaciones de escritorio desarrolladas con <strong>HTML5</strong>, <strong>CSS3</strong> y <strong>JAVASCRIPT</strong>. Trabajando de la mano con <strong>Angular</strong>.</p>
            </div>
        </div>

    </div>

    <app-scroll-to-top></app-scroll-to-top>
</section>