
<section>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/assets/images/yo.jpg" class="img-fluid rounded-start" alt="image.jpg">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Bienvenido!</h5>
                    <p class="card-text">Mi nombre es Luis Tronilo Mordillo. He trabajado como freelance en proyectos de desarrollador y maquetador web durante 2 años.<br>Actualmente y desde hace 2 años, trabajo como autónomo desarrollando equipos industriales y aparatos electrónicos incorporándoles IOT (Internet de las cosas) sobre páginas web para su control remoto.<br>He trabajado de técnico informático durante 6 meses en la empresa <cite>Henry Schein</cite>, dando soporte informático a la infraestructura bajo el sistema operativo y el dominio con <cite>Active Directory</cite>.</p>
                    <br>
                    <p class="card-text">Me considero una persona proactiva, autodidacta y con muchas ganas de aprender. Desde pequeñito me ha apasionado la programación, al ver esas páginas web y aplicaciones y preguntarme cómo estarían hechas.<br></p>
                </div>
            </div>
        </div>
    </div>
</section>