<section class="animate__animated animate__pulse">
    <div class="row mt-5">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contenedor_foto">
            <img src="assets/images/yo.jpg" class="img-thumbnail foto animate__animated animate__bounceIn" alt="image.jpg">
            <h4 class="titulo">Desarrollador Web</h4>
            <p class="texto"><i class="fas fa-at iconos"></i> tronilo53@gmail.com</p>
            <p class="texto"><i class="fas fa-phone iconos"></i> 634339581</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 contenedor_texto animate__animated animate__fadeIn">
            <h2>Bienvenid@!</h2>
            <p>Mi nombre es Luis Tronilo Mordillo. He trabajado como freelance en proyectos de desarrollador y maquetador web durante 2 años.<br>Actualmente trabajo como autónomo desarrollando equipos industriales incorporándoles IOT (Internet de las cosas) sobre páginas web y app's para su control remoto.<br>He trabajado de técnico informático durante 6 meses en la empresa <cite>Henry Schein</cite>, dando soporte informático a la infraestructura bajo el sistema operativo y el dominio con <cite>Active Directory</cite>.</p>
            <br>
            <p>Me considero una persona proactiva, autodidacta y con muchas ganas de aprender. Me apasiona la programación y cada día aprendo por mi cuenta cosas nuevas para así tener más conocimientos y estar al día de las nuevas tecnologías.<br>Compañerismo, don de gentes, carismático, me gusta aprender de los demás y sobre todo ayudar. </p>
            <br>
        </div>
    </div>
    <div class="row mt-5">
        <div class="con-xs-12 col-sm-12 col-md-6 col-lg-6 contenedor_experiencia">
            <h2 class="titulo">Experiencia</h2>
            <div class="bloques">
                <h4 class="titulo_cargo"><i class="fas fa-code"></i> Desarrollador Web Freelance</h4>
                <h5 class="titulo_empresa">Autónomo <small>06/2018 - 07/2020</small></h5>
            </div>
            <div class="bloques">
                <h4 class="titulo_cargo"><i class="fas fa-microchip"></i> Desarrollador De Equipos Industriales</h4>
                <h5 class="titulo_empresa">Autónomo <small>06/2020 - Activo</small></h5>
            </div>
            <div class="bloques">
                <h4 class="titulo_cargo"><i class="fas fa-desktop"></i> Técnico Informático I.T</h4>
                <h5 class="titulo_empresa">Henry Schein <small>09/2021 - 04/2022</small></h5>
            </div>
        </div>
        <div class="con-xs-12 col-sm-12 col-md-6 col-lg-6 contenedor_conocimientos">
            <h2>Conocimientos</h2>
            <p>Tengo un alto conocimiento en los estándares del desarrollo web: <strong>Html5, Css3, Javascript, Php y Sql</strong>. Tambíen controlo la téncica de programación <strong>Ajax</strong> de javascript para hacer aplicaciones web <strong>Asíncronas</strong>, asi como el superconjunto de Javascript <strong>"Typescript"</strong></p>
            <p>He trabajado con las librerías <strong>Bootstrap, Jquery y Material Design</strong>, librerías muy populares para hacer el desarrollo un poco más sencillo.</p>
            <p>Estoy familiarizado con varios frameworks, <strong>Angular</strong>, un framework SPA para crear aplicaciones web de una sola página. <strong>Ionic</strong>, con un potencial increíble para desarrolar aplicaciones multiplataforma de manera híbrida y <strong>Electron</strong>, para crear aplicaciones de escritorio tanto para Windows, Linux y Mac usando conocimientos de Html, Css y Javascript.</p>
            <p>Por otra parte, tengo conocimientos de <strong>Arduino</strong>, enfocándose en <strong>C++</strong>, programo microcontroladores incorporándoles IOT (Internet de las cosas) bajo páginas web o aplicaciones multiplataforma para la gestión, manipulación y control remoto.</p>
        </div>
    </div>
</section>




<!--<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/assets/images/yo.jpg" class="img-fluid rounded-start" alt="image.jpg">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Bienvenido!</h5>
                <p class="card-text"></p>
                <br>
                <p class="card-text">Me considero una persona proactiva, autodidacta y con muchas ganas de aprender. Desde pequeñito me ha apasionado la programación, al ver esas páginas web y aplicaciones y preguntarme cómo estarían hechas.<br> Cada día aprendo por mi cuenta</p>
            </div>
        </div>
    </div>
</div>-->