<section>
    <h2 class="titulo">Bienvenido</h2>
    <p class="descripcion">Mi nombre es Luis Tronilo Mordillo, actualmente trabajo de autónomo como desarrollador de equipos industriales.<br>He trabajado en proyectos como Freelance y actualmente, también me dedico al desarrollo web con plataformas IOT.</p>
    <div class="logos">
        <img class="logo" src="assets/icons/perfil/electronica.png" alt="electronica.png">
        <img class="logo" src="assets/icons/perfil/iot.png" alt="iot.png">
        <img class="logo" src="assets/icons/perfil/html.png" alt="html.png">
    </div>
</section>
