@font-face {
    font-family: 'Aboreto';
    src: url('Aboreto-Regular.woff2') format('woff2'),
        url('Aboreto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

