<section class="animate__animated animate__pulse">
    <h2 class="titulo">Otros</h2>

    <div class="contenedor">

        <div class="row padre_arduino padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 arduino_image min-height animate__animated animate__fadeIn"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 arduino_text min-height text text-iz height-auto">
                <h3 class="titulo">Arduino</h3>
                <p class="descripcion">Experiencia en <strong>ARDUINO</strong>. EEPROM, Interrupciones, funciones análogas y digitales, delays, librerías, etc... Programación de <strong>Microcontroladores</strong> bajo plataformas <strong>IOT</strong> y desarrollando páginas web para su control remoto.</p>
            </div>
        </div>

        <!--<div class="row padre_example padres flex">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 example_text min-height text text-der height-auto">
                <h3 class="titulo">Example</h3>
                <p class="descripcion">Experiencia en <strong>EXAMPLE</strong></p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 example_image min-height"></div>
        </div>-->

    </div>

    <app-scroll-to-top></app-scroll-to-top>
</section>