/* ---------HTML5--------------- */
section .contenedor .padre_html5 .html5_image {
    background-image: url('/assets/images/lenguajes/html5.jpg');
}
/* ---------CSS3--------------- */
section .contenedor .padre_css3 .css3_image {
    background-image: url('/assets/images/lenguajes/css3.jpg');
}
/* ---------JAVASCRIPT--------------- */
section .contenedor .padre_javascript .javascript_image {
    background-image: url('/assets/images/lenguajes/javascript.jpg');
}
/* ---------TYPESCRIPT--------------- */
section .contenedor .padre_typescript .typescript_image {
    background-image: url('/assets/images/lenguajes/typescript.jpg');
}
/* ---------PHP--------------- */
section .contenedor .padre_php .php_image {
    background-image: url('/assets/images/lenguajes/php.jpg');
}
/* ---------SQL--------------- */
section .contenedor .padre_sql .sql_image {
    background-image: url('/assets/images/lenguajes/sql.jpg');
}