<section>
    <h2 class="titulo">Lenguajes de Programación</h2>

    <div class="contenedor">

        <div class="row padre_html5 padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 html5_image min-height"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 html5_text min-height text text-iz height-auto">
                <h3 class="titulo">Html5</h3>
                <p class="descripcion">Experiencia en <strong>HTML5</strong> teniendo en cuenta la <strong>Accesibilidad Web</strong>, la estructura semántica del código, para que sea legible a cualquier cambio y posicionamiento <strong>SEO</strong> para la visibilidad de la web en buscadores.</p>
            </div>
        </div>

        <div class="row padre_css3 padres flex">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 css3_text min-height text text-der height-auto">
                <h3 class="titulo">Css3</h3>
                <p class="descripcion">Experiencia en <strong>CSS3</strong> para darle estilo a la web. Flexbox, Grid, Media Queries, medios para conseguir un mayor atractivo en cada página.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 css3_image min-height"></div>
        </div>

        <div class="row padre_javascript padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 javascript_image min-height"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 javascript_text min-height text text-iz height-auto">
                <h3 class="titulo">Javascript</h3>
                <p class="descripcion">Experiencia en <strong>JAVASCRIPT</strong>, la interactividad con la web. Cookies, email, login, ventanas emergentes,etc...<br>Buenas prácticas de programación y conocimientos de librerias.</p>
            </div>
        </div>

        <div class="row padre_typescript padres flex">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 typescript_text min-height text text-der height-auto">
                <h3 class="titulo">Typescript</h3>
                <p class="descripcion">Experiencia en <strong>TYPESCRIPT</strong>, superconjunto de <strong>Javascript</strong>. Utilizado junto con el framework "Angular". Modularizaciones y encapsulados con las bases de la programación orientada a objetos para que cada app web sea más escalable.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 typescript_image min-height"></div>
        </div>

        <div class="row padre_php padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 php_image min-height"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 php_text min-height text text-iz height-auto">
                <h3 class="titulo">Php</h3>
                <p class="descripcion">Experiencia en <strong>PHP</strong> orientado a objetos y estructural. Control de <strong>sesiones</strong>, creación de <strong>API'S</strong>, recopilación de datos de formularios y <strong>CRUD</strong> para la gestion a una BBDD</p>
            </div>
        </div>

        <div class="row padre_sql padres flex">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 sql_text min-height text text-der height-auto">
                <h3 class="titulo">Sql</h3>
                <p class="descripcion">Experiencia en <strong>SQL</strong>, BBDD relacionales. <strong>CREATE, READ, UPDATE, DELETE</strong>, Operar con la información almacenada para así mostrarla y gestionarla.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 sql_image min-height"></div>
        </div>

    </div>

    <app-scroll-to-top></app-scroll-to-top>
</section>