<section class="animate__animated animate__pulse">
    <h2 class="titulo">Librerías</h2>

    <div class="contenedor">

        <div class="row padre_jquery padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 jquery_image min-height animate__animated animate__fadeIn"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 jquery_text min-height text text-iz height-auto">
                <h3 class="titulo">Jquery</h3>
                <p class="descripcion">Experiencia en <strong>JQUERY</strong>. Manipulación del <strong>DOM</strong>, modificación dinámica de estilos css, efectos visuales, animaciones, ajax y funciones asíncronas. La librería javascript más utilizada y con una mayor compatibilidad para los navegadores web.</p>
            </div>
        </div>

        <div class="row padre_bootstrap padres flex">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bootstrap_text min-height text text-der height-auto">
                <h3 class="titulo">Bootstrap</h3>
                <p class="descripcion">Experiencia en <strong>BOOTSTRAP</strong>. Grid, variables Sass, componentes como: Accordion, Alerts, Cards, Navbars, Progress bar, Spinners, etc... Diseño <strong>Responsive</strong> para adaptar la web a cualquier tamaño de dispositivo.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bootstrap_image min-height animate__animated animate__fadeIn"></div>
        </div>

        <div class="row padre_material padres">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 material_image min-height animate__animated animate__fadeIn"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 material_text min-height text text-iz height-auto">
                <h3 class="titulo">Material Design</h3>
                <p class="descripcion">Experiencia en <strong>MATERIAL DESIGN</strong>. App Bars, Banners, Bottom navigation, buttons, chips, tabs, etc... <strong>Diseño Responsive</strong> con cada componente para que se vea bién en cualquier dispositivo.</p>
            </div>
        </div>

    </div>

    <app-scroll-to-top></app-scroll-to-top>
</section>