<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['lenguajesPro']" routerLinkActive="active" >Lenguajes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['frameworks']" routerLinkActive="active" >Frameworks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['librerias']" routerLinkActive="active" >Librerias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['otros']" routerLinkActive="active" >Otros</a>
    </li>
</ul>
<router-outlet></router-outlet>