@font-face {
    font-family: 'Aboreto';
    src: url('./assets/fonts/Aboreto/Aboreto-Regular.woff2') format('woff2'),
        url('./assets/fonts/Aboreto/Aboreto-Regular.woff') format('woff'),
        url('./assets/fonts/Aboreto/Aboreto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.woff2') format('woff2'),
        url('./assets/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff'),
        url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Lenguajes de programación (GLOBAL) */
section {
    margin-bottom: 50px;
}
section .titulo {
    margin: 50px 0;
    text-align: center;
    color: white;
    font-size: 2.2rem;
    font-family: 'Ubuntu';
}
section .contenedor {
    width: 80%;
    margin: 0 auto;
}
section .contenedor .padres .min-height {
    height: 350px;
    min-height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section .contenedor .padres .min-height .titulo {
    margin-top: 20px;
    font-family: 'Aboreto';
}
section .contenedor .padres .min-height .descripcion {
    font-family: 'Ubuntu';
}
section .contenedor .padres .text {
    color: white;
}
section .contenedor .padres .text-iz .titulo,
section .contenedor .padres .text-iz .descripcion {
    text-align: left;
}
section .contenedor .padres .text-der .titulo,
section .contenedor .padres .text-der .descripcion {
    text-align: right;
}

/* Media Queries */
@media screen and (max-width: 980px) {
    section .contenedor .padres .min-height {
        height: 250px;
        min-height: 250px;
    }
    section .contenedor .padres .min-height .titulo {
        margin: 0 !important;
    }
}
@media screen and (max-width: 767px) {
    section .contenedor .padres {
        margin: 20px 0;
    }
    section .contenedor .padres .text {
        background-color: black;
        padding: 20px;
    }
    section .contenedor .padres .min-height .titulo,
    section .contenedor .padres .min-height .descripcion {
        text-align: center;
    }
    section .contenedor .padres .height-auto {
        height: auto;
        min-height: auto;
    }
    section .contenedor .flex {
        display: flex;
    }
    section .contenedor .flex div:first-child {
        order: 2;
    }
    section .contenedor .flex div:nth-child(2) {
        order: 1;
    }
}
@media screen and (max-width: 536px) {
    section .titulo {
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 402px) {
    section{
        margin-top: 150px;
    }
}