section {
    min-height: 200px;
}
section .perfil {
    font-family: 'Ubuntu';
}
section .perfil .titulo {
    margin: 50px 0;
    text-align: center;
    color: white;
    font-size: 2.2rem;
}
section .perfil .descripcion {
    color: white;
    text-align: center;
}